# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv

# Virtual Environments
env/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/static/
/media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Migrations (optional, if you don't want to track them)
# **/migrations/*.py
# !**/migrations/__init__.py